html {
scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    text-decoration:none ;
    border: none;
    outline: none;
    font-family:Poppins;
}
html{
    font-size: 62.5%;
}
body{
    width:100%;
    height: 100%;
    overflow-x: hidden;
    background-image:linear-gradient(#000,#011927);
    height: 100vh;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: white;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent ;
}
nav a:hover,
nav a:active{
    color: #ffffff;
    border-bottom:3px solid #ffffff;
}
{
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color:#011927;
        border-top: 0.1rem solid ;
    }
    
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover
    nav a.active{
       padding: 1rem; 
       border-radius: 0.5rem;
       border-bottom: 0.5rem solid #ffffff;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 8rem;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height:1.3;
}
span{
    color: #89daff;
}
.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    box-shadow: 0 0 25px solid #89daff; 
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
  .hobi h2 {
    text-align: center;
    font-size: 6rem;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
  }
  .hobi ul {
    list-style: none;
    padding: 15px 20px;
    display: flex;
  }
  .hobi ul li {
    background-color:#ffffff;
    border-radius: 15px;
    font-family: Poppins;
    font-size: 3rem;
    margin: 10px 0;
    margin-left: 10px;
    color: #011927;
    transition: 0.5s ease;
    
  }
  .hobi ul li:hover{
    transform: scale(1.1);
  }
  .design h2{
    font-size: 6rem;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 6px;
  }
  .design img{
    border-radius: 10px;
    width: 20vw;
    border: 1px solid #89daff;
    transition: transform 0.3s ease;
        margin: 50px 0;
        margin-left: 10px;
        
  }
  .design img:hover{
     transform: scale(1.1);
  }
  .footer{
    text-align: center;
  }
  